<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Add info to add new user</h2>
    <form method="POST" action="/users/add">
       <input name="username" placeholder="Enter Username">
       <input name="email" placeholder="Enter Email">
       <input name="password" type="password"  placeholder="Enter Password">
       <button>
        SUBIT
       </button>
    </form>
</body>
</html>